/* Tipografía */

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&family=Space+Mono:wght@700&display=swap");

:root {
  /* Variables */
  --primario: #4a5cf4;
  --primario-claro: #8081f4;
  --primario-fuerte: #3834c6;
  --secundario: #eac22f;
  --secundario-claro: #f2e155;
  --secundario-fuerte: #e4a729;
  --terciario: #40cd86;
  --terciario-claro: #528a3f;
  --terciario-fuerte: #9cf18f;
  --bg: #ffffff;
  --font-base: "Space Grotesk";
  --font-headings: "Space Mono";
  --h1: 109px;
  --h2: 81px;
  --h3: 54px;
  --h4: 36px;
  --h5: 24px;
  --h6: 16px;
}

/* Base */
body {
  font-family: "Space Grotesk", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Mono", monospace;
}

body {
  font-family: var(--font-base);
  cursor: url("https://res.cloudinary.com/ric18399/image/upload/v1614714878/Portafolio%202021/SVGS/cursor_mfitcf.svg"),
    auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
  color: transparent;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: var(--terciario);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

ul li {
  list-style-type: none;
}

/* Componentes */
.header {
  display: grid;
  grid-template-rows: 150px 1fr 1fr;
  grid-template-columns: auto 1fr 5fr 1fr;
  max-width: 100vw;
}

.nav {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  line-height: 50px;
  margin: 0px 100px auto auto;
}

.logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 30px auto 0px 40px;
}

.titulo {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.saludo {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  margin: 200px auto auto -70px;
  font-weight: bold;
  font-family: "Space Grotesk", sans-serif;
  color: var(--primario);
}

.yo {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 90px auto auto 100px;
}

/*.contacto {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  margin: auto;
  display: flex;
}*/

.footer {
  display: flex;
}

.nav a {
  color: black;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}

.nav a:hover {
  color: rgb(64, 211, 140);
  cursor: url("https://res.cloudinary.com/ric18399/image/upload/v1614714878/Portafolio%202021/SVGS/cursor_mfitcf.svg"),
    auto;
  transition: 0.1s ease-in-out;
}

.menu-editorial a:hover {
  color: var(--secundario);
}

.menu-branding a:hover {
  color: var(--primario);
}

.menu-miscelanea a:hover {
  color: var(--secundario);
}

/* Utilities */
.flex {
  display: flex;
}

.flex-center {
  justify-items: center;
  align-items: center;
}

.grid {
  display: grid;
}

.grid-center {
  place-content: center;
}

.mx-auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none;
  visibility: hidden;
}

.outline {
  outline: 2px solid black;
}
